
.img-project{
    max-width: 500px;
    min-width: 400px;
    height: 400px;
}
.altura-card-project{
  height: 550px;
}
/* src/styles/componentsStyles/CardProject.css */

/* Efecto de sombra y elevación para la imagen en hover */
.img-project {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.img-project:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
  
  /* Efecto de desplazamiento y desenfoque en el contenedor de la tarjeta */
  /* .wrapper-project {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .wrapper-project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  } */
  
  /* Efecto de transición en el botón */

  